.title{
    text-align: center;
    align-items: center;
}

        /* Add CSS styles for the column layout here */
        .song-container {
            display: flex;
            flex-wrap: wrap;
        }
        
        .song {
            width: calc(25% - 20px); /* Adjust the width as needed */
            margin: 10px;
            text-align: center;
            border: 1px solid #ccc;
            padding: 10px;
        }
        
        .song img {
            max-width: 100%;
            height: auto;
        }